
.header-field {
   width: 70%;
   padding: 30px;
   border-radius: 10px;
   background-color: whitesmoke;
   display: flex;
   flex-direction: column;
   gap: 30px;
   overflow: hidden;
   position: relative;
}
.header-field::after{
   position: absolute;
   content: '';
   top: 0;
   left: 0;
   width: 120%;
   height: 8px;
   background-color: rgb(129, 57, 202);
   z-index: 2;
}
.header-field.focus::before{
   position: absolute;
   content: '';
   top: 0;
   left: 0;
   width: 8px;
   height: 100%;
   background-color: rgb(72, 149, 237);
}