.answers {
   padding: 40px 0;
   display: block;
   flex: 1 1 auto;
   overflow: hidden;
}
.answers.none{
   display: none;
}

.answers-grid {
   width: 100%;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 40px;
}