.repositorie-card {
   min-height: 200px;
   position: relative;
   display: flex;
   flex-direction: column;
   border: 2px solid rgb(170, 130, 238);
   transition: all 0.4s ease;
   border-radius: 5px;
}
.repositorie-card__decor{
   position: absolute;
   font-size: 15em;
   color: rgba(140, 124, 206, 0.147);
   font-weight: bold;
   top: 50%;
   left: 10%;
   transform: translateY(-50%);
   transition: all 0.4s ease;
}
.repositorie-card__content{
   width: 100%;
   position: relative;
   top: 0;
   left: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 20px 30px;
   flex: 1 1 auto;
}
.repositorie-card__title{
   color: rgb(66, 65, 65);
   text-transform: capitalize;
   font-size: 2em;
   font-weight: bold;
}
.repositorie-card:hover{
   background-color: rgb(140, 93, 221);
   border: 2px solid rgb(140, 93, 221);
}
.repositorie-card:hover .repositorie-card__title{
   color: whitesmoke;
}
.repositorie-card:hover .repositorie-card__decor{
   color: rgba(89, 56, 221, 0.498);
}