
.form-header {
   padding: 30px 0;
   border-radius: 10px;
   background-color: whitesmoke;
   display: flex;
   flex-direction: column;
   gap: 30px;
   overflow: hidden;
   position: relative;
}
.form-header > *:not(:last-child){
   border-bottom: 1px solid rgb(179, 179, 179);
}
.form-header > *:not(:first-child){
   padding: 0 20px 20px;
}
.form-header__decor-line{
   position: absolute;
   top: 0;
   left: 0;
   width: 120%;
   height: 10px;
   z-index: 2;
}
.form-header__header{
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.form-header__title{
   font-size: 3.2em;
   text-transform: capitalize;
}
.form-header__text{
   font-size: 1.2em;
   text-transform: capitalize;
}
.form-header__info{
   color: rgb(226, 64, 64);
   text-transform: capitalize;
   font-size: 1.2em;
}
@media(max-width: 778px){
   .form-header__title{
      font-size: 2em;
   }
   .form-header__text{
      font-size: 0.9em;
   }
}