* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('./img/univer-1-e1498733179665.png'); 
    background-size: cover;
}

.block {
    background-color: white; 
    text-align: center;
    padding: 20px; 
    font-weight: bold; 
    color: #8a7d7d; 
    font-size: 24px; 
    width: 100%; 
    max-width: 400px; 
    margin: 20px 0; 
    margin-left: 430px;
}

.button-container {
    text-align: center; 
    margin-top: 20px; 
}

.button {
    background-color: #28a745; 
    color: #ffffff; 
    padding: 10px 20px; 
    margin: 0 10px; 
    border: none; 
    font-size: 18px; 
    font-weight: bold; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
    position: relative;
    left: 420px;
    margin-right: 41px;
    
}

.button:hover {
    background-color: #ffffff; 
    color: black; 
}

.regim{
color: white;
margin-left: 430px;
position: relative;
top: 20px;
font-size: 10px;
}

.rectangle {
    width: 50px; 
    height: 25px; 
    background-color: green; 
    position: relative; 
    margin-left: 650px;
}


.white-square {
    width: 50%; 
    height: 100%; 
    background-color: white; 
    position: absolute; 
    right: 0; 
}

.search {
    background-color: white;
    width: 400px;
    margin-top: 30px;
    margin-left: 430px;
    height: 30px;
    text-align: justify;
}
