.navbar {
   width: 100%;
   position: relative;
   z-index: 60;
   background-color: white;
}

.navbar__content {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 20px;
   padding: 20px;
}

.navbar__logo {
   display: flex;
   align-items: center;
   gap: 15px;
   flex: 1 1 auto;
}

.navbar__image img {
   width: 30px;
   height: auto;
   transition: all 0.3s ease;
}
.navbar__image img:hover{
   scale: 1.1;
}

.navbar__title {
   font-size: 20px;
   text-transform: capitalize;
}

.navbar-menu.none {
   display: none;
}

@media (max-width: 770px) {
   .navbar__icons {
      display: none;
   }

   .navbar__content {
      gap: 10px;
   }
   .navbar-menu{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding: 20px;
      background-color: white;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 20;
   }
}

@media(max-width: 586px) {
   .navbar__image img {
      width: 20px;
   }

   .navbar__title {
      font-size: 16px;
   }
}